.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (min-width: 769px) {
  .card {
    width: 18rem;
  }

  .products-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
